<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>

  <body>
    <h1>Index</h1>
    <p> I love programming </p>
    <% if @dog %>
    <p>You picked the dog named <%= @dog.name %></p>
    <% end %>
  </body>
</html>
